@{
    ViewBag.Title = "Examples";
}

<ul>
    <li><a>@Html.ActionLink("Basic Table", "Basic")</a></li>
    <li><a>@Html.ActionLink("Paging", "Paging")</a></li>
    <li><a>@Html.ActionLink("Column Filtering", "ColumnFiltering")</a></li>
    <li><a>@Html.ActionLink("Sorting", "Sorting")</a></li>
    <li><a>@Html.ActionLink("Table Filtering", "TableFiltering")</a></li>
    <li><a>@Html.ActionLink("Localizing", "Localizing")</a></li>
</ul>@*  *@